services: 
  frontend:
    image: node:20-alpine
    working_dir: /app
    volumes: # Remove when going into production
      - ./Web:/app
      - /app/node_modules # Anonymous volume 
    command: sh -c "npm install && npm run dev -- --host"
    ports: 
      - "5173:5173"
    depends_on:
      - backend 
    networks:
      - dist-maps 
  
  backend:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ./server:/app
      - /app/node_modules 
    command: sh -c "npm install && npm run dev"
    ports:
      - "8000:8000"
    depends_on:
      - mongodb
      - tileserver 
    networks:
      - dist-maps 
  
  mailhog:
    image: mailhog/mailhog 
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - dist-maps 
  
  mongodb: 
    image: mongo:5.0
    ports:
      - "27017:27017"
    volumes:
      - 'mongo:/data/db'
    networks:
      - dist-maps 
  
  osm-import:
    image: overv/openstreetmap-tile-server
    command: import 
    volumes:
      - /c/Users/baybh/Projects/DistributedMaps/map-data/north-america-latest.osm.pbf:/data/region.osm.pbf
      - osm-data:/data/database
    
  tileserver:
    image: overv/openstreetmap-tile-server 
    command: run 
    ports:
      - "8080:80" 
      - "5432:5432"
      
    volumes:
      - osm-data:/data/database
    depends_on:
      - osm-import
    networks:
      - dist-maps 

volumes:
  mongo:
  osm-data:
networks:
  dist-maps:
