.dashboard-grid .form-containers {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: purple
}

.convert-form-grid .convert-header {
    font-size: 24pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
} 

input[type="number"]:focus {
  border-color: #7b2cbf;
  outline: none;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
}


label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #333;
}

button {
  background-color: #7b2cbf;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  justify-self: center;
}

/* Make button change when you hover over it */
button:hover {
  background-color: #9d4edd;
}